$colour-main-background: #444;

$col-colours: (
  'c-fruit': #00796B,
  'c-dairies': #43A047,
  'c-bread': #8BC34A,
  'c-meat': #FFEB3B,
  'c-fish': #C62828,
  'c-drinks': #FF4081,
  'c-coffee': #E040FB,
  'c-appliance': #3F51B5
);

$col-darken: (
  'c-fruit': 10%,
  'c-dairies': 20%,
  'c-bread': 25%,
  'c-meat': 32%,
  'c-fish': 20%,
  'c-drinks': 30%,
  'c-coffee': 35%,
  'c-appliance': 20%
);
