$colour-main-background: #444;

$col-colours: (
  'fruit': #00796B,
  'dairies': #43A047,
  'bread': #8BC34A,
  'meat': #FFEB3B,
  'fish': #C62828,
  'drinks': #FF4081,
  'coffee': #E040FB,
  'appliance': #3F51B5
);

$col-darken: (
  'fruit': 10%,
  'dairies': 20%,
  'bread': 25%,
  'meat': 32%,
  'fish': 20%,
  'drinks': 30%,
  'coffee': 35%,
  'appliance': 20%
);
