<div class="col-50 ad-wrapper ad-small <%= the_class %>">
  <a href="#" class="ad-content" data-link-detail="{{category}}">
    <p class="line-big">
      25%
    </p>
    <p class="line-small">
      descuento
    </p>
    <p class="line-small">
      en todas las marcas
    </p>
  </a>
</div>
