<div class="detail" style="background-image:url('<%= image %>');">
  <div class="detail-shadow">
    <p class="detail-icon">
      <span class="sb-bistro-drinks"></span> <span class="detail-icon-text">Bebidas</span>
    </p>
    <a href="#" class="detail-close bc-drinks" data-link-close>
      <i class="material-icons">close</i>
    </a>
    <section class="detail-content">
      <p class="line-big text-center">
        2 <i class="material-icons" style="font-size:80px;">close</i> 1
      </p>
      <p class="line-medium text-center">
        en todos nuestros zumos naturales
      </p>
    </section>
    <footer class="detail-footer bcs-drinks">
      <div class="detail-footer-description">
        <p>Otras</p>
        <p>ofertas</p>
        <p>interesantes</p>
      </div>
      <div class="detail-adverts">
        <div class="detail-advert">
          <a href="" class="detail-advert-link ad-water" data-link-detail></a>
          Agua mineral
        </div>
        <div class="detail-advert">
          <a href="" class="detail-advert-link ad-wine" data-link-detail></a>
          Vinos de crianza
        </div>
        <div class="detail-advert">
          <a href="" class="detail-advert-link ad-coffee" data-link-detail></a>
          Cafés arábigos
        </div>
      </div>
    </footer>
  </div>
</div>
