{{#adverts}}
<div class="detail-advert swiper-slide">
  <a href="javascript:void(0);" class="detail-advert-link cl-{{@root.category}}" data-link-detail="{{@root.category}}" data-link-id="{{id}}">
    <span class="detail-advert-link-image" style="background-image:url('{{data.image}}');"></span>
    {{short data.description}}
  </a>
</div>
{{/adverts}}
