<div data-is-home>
  <div class="row">
      <a href="#" class="col-50 advert" data-link-detail>
        {{{getAd 'home' 0}}}
      </a>
      <a href="#" class="col-50 advert" data-link-detail>
        {{{getAd 'home' 1}}}
      </a>
  </div>
  <div class="row">
      {{#each set.categories}}
      <a href="#" class="col-25 bc-{{@key}}" data-link-list="{{@key}}">
          <span class="column-icon {{icon}}"></span>
          <span class="column-text">{{description}}</span>
      </a>
      {{/each}}
  </div>
</div>
