---
title: "carrify.tech: CARRO"
---

<div class="body-background">
    <h1>
        <img alt="" class="logo" src="images/logo.png"/>
        <span class="carrify">carrify.tech</span>
        <strong>CARRO</strong>
        <strong class="motto">Cuando comprar es una nueva experiencia</strong>
    </h1>
    <section class="content-wrapper">
        <div class="content">
          <%= partial('partials/detail', :locals => {
                  :image => '../images/ads/juice_2.jpg'
              }) %>
        </div>
    </section>
    <footer class="copyright">carrify.tech 2016</footer>
</div>
