---
title: carrify.tech: CARRO
---

<div class="body-background">
     <h1>
       <img alt="" class="logo" src="images/logo.png" />
       <span class="carrify">carrify.tech</span>
       <strong>CARRO</strong>
       <strong class="motto">Cuando comprar es una nueva experiencia</strong>
     </h1>
     <section class="content-wrapper">
       <div class="content">
         <div class="row">
           <a href="#" class="col-50 advert"></a>
           <a href="#" class="col-50 advert"></a>
         </div>
         <div class="row">
           <a href="#" class="col-25">
             <span class="column-icon sb-bistro-apple"></span>
             <span class="column-text">Fruta y verdura</span>
           </a>
           <a href="#" class="col-25">
             <span class="column-icon sb-bistro-cone-icecream"></span>
             <span class="column-text">Lacteos</span>
           </a>
           <a href="#" class="col-25">
             <span class="column-icon sb-bistro-pizza"></span>
             <span class="column-text">Panadería</span>
           </a>
           <a href="#" class="col-25">
             <span class="column-icon sb-bistro-steak"></span>
             <span class="column-text">Carnicería</span>
           </a>
         </div>
         <div class="row">
           <a href="#" class="col-25">
             <span class="column-icon sb-bistro-fish"></span>
             <span class="column-text">Pescadería</span>
           </a>
           <a href="#" class="col-25">
             <span class="column-icon sb-bistro-drinks"></span>
             <span class="column-text">Bebidas</span>
           </a>
           <a href="#" class="col-25">
             <span class="column-icon sb-bistro-coffee"></span>
             <span class="column-text">Té y café</span>
           </a>
           <a href="#" class="col-25">
             <span class="column-icon sb-bistro-blender"></span>
             <span class="column-text">Electrodomésticos</span>
           </a>
         </div>
       </div>
     </section>
     <footer class="copyright">carrify.tech 2016</footer>
   </div>
